#flex{
    display: inline-block;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */

}


#bg {
    position:  fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}



.button {
    display: inline-block;
    padding:10px 10px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:white;
    background-color: #6af56e5e;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(0, 0, 0);
  }
  


  
/* img {
    width: 30%;
    height: 30%;
} */

div{
    padding: 20px;
    display: inline-block;
    /* background-color: rgba(14, 13, 13, 0.521); */
}